
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 100px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

li, a {
  font-family: 'Open Sans';
}
p {
  font-family: 'Roboto';
}

.main {
  width: 70%;
  margin: auto;
  padding-top: 200px;
}
.bar {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid grey;
  background-color: white;
}
.top {
  height: 50px;
  margin-bottom: 25px;
  padding-top: 30px;
  padding-left: 20px;
}
.top h2 {
  display: inline;
  vertical-align: super;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.list ul {
  display: flex;
}
.list ul li {
  padding-right: 30px;
}
.list ul li:last-child a {
  color: #3390FF;
  border-bottom: 2px solid #3390FF;
}

.last a {
  color: white;
  background-color: #3390FF;
}

/* main */

.title {
  padding-bottom: 20px;
}
.text {
  padding-bottom: 40px;
  line-height: 25px;
}
